
 <%if(user[0].rol==1||user[0].rol==2){%>
  <%- include ('partials/header')  %>
  <% }%>
  <%if(user[0].rol==3){%>
      <%- include ('partials/header1')  %>
      <% }%>
      <%if(user[0].rol==4||user[0].rol==5){%>
          <%- include ('partials/header2')  %>
          <% }%>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


            <div class="container">
               <h2>Campaña: <%= campaña %></h2>
              <h2>Estadística del mes: <%= mes+1 %></h2>
            <canvas style="max-width: 50%" id="myChart" width="400" height="300"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
     type: 'pie',
    data: {
        labels: ['Cerrado Ganado', 'Agendado', 'Meta'],
        datasets: [{
            label: '# of Votes',
            data: [12, 15, 20],
            backgroundColor: [
                'rgba(0, 255, 50, 0.6)',
                'rgba(0, 255, 50, 0.3)',
                'rgba(255, 255,255, 0.2)'
                
            ],
            borderColor: [
                'black',
                  'black',
  'black'
               
            ],
            borderWidth: 1
        }]
    }
    
});
</script>

            <div class="row">
              <div class="col col-sm-6">
                <%- JSON.stringify(datos) %>
                <canvas id="myChart" width="400" height="400"></canvas>          
            </div>


            
       
 
 <%- include('partials/footer') %>