
 <%if(user[0].rol==1||user[0].rol==2){%>
  <%- include ('partials/header')  %>
  <% }%>
  <%if(user[0].rol==3){%>
      <%- include ('partials/header1')  %>
      <% }%>
      <%if(user[0].rol==4||user[0].rol==5){%>
          <%- include ('partials/header2')  %>
          <% }%>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


            <div class="row">
              <div class="col col-sm-6"><canvas id="doughnut-chart" width="800" height="450"></canvas></div>
              <div class="col col-sm-6"><canvas id="doughnut-chart2" width="800" height="450"></canvas></div>
            </div>

            <div class="row">
              <div class="col col-sm-6">
                <%- JSON.stringify(datos) %>
                <canvas id="myChart" width="400" height="400"></canvas>          
            </div>


            
       
 
 <%- include('partials/footer') %>