<%- include ('partials/header')  %>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
  <div class="container row">
    <div class="row mb-3 mt-3 mb-4">
      <h2>Estadística del mes: <span class="mes-number"><%= mes+1 %></span></h2>
      <% if( usuario.rol  = 2 ){ %>
    <div class="col-md-5 form-group">
    <label class="label">Usuarios: </label>
    <select  class="form-control custom-select select-id">
      <option  value="<%= usuario[0].id %>" selected="">Todos</option>
      <% hijos.forEach(hijo =>  { %>
      <option value="<%- hijo.id %>"><%=  hijo.nombre %></option>
                <% }) %>
      </select>
    </div>
<%
  }
%>
    <div class="col-md-5 form-group">
              <label>Mes: </label>
              
              <select class="form-control custom-select select-mes">
                 <option value="0" <%= (mes == 0)?"selected":"" %>>Enero</option>
                 <option value="1"  <%= (mes == 1)?"selected":"" %>>Febrero</option>
                 <option value="2"  <%= (mes == 2)?"selected":"" %>>Marzo</option>
                 <option value="3"  <%= (mes == 3)?"selected":"" %>>Abril</option>
                 <option value="4" <%= (mes == 4)?"selected":"" %>>Mayo</option>
                 <option value="5"  <%= (mes == 5)?"selected":"" %>>Junio</option>
                 <option value="6" <%= (mes == 6)?"selected":"" %>>Julio</option>
                 <option value="7" <%= (mes == 7)?"selected":"" %>>Agosto</option>
                 <option value="8" <%= (mes == 8)?"selected":"" %>>Septiembre</option>
                 <option value="9" <%= (mes == 9)?"selected":"" %>>Octubre</option>
                 <option value="10" <%= (mes == 10)?"selected":"" %>>Noviembre</option>
                 <option value="11" <%= (mes == 11)?"selected":"" %>>Diciembre</option>
              </select>
              </div>
              <div class="col-md-2 form-group">
              <label>Año: </label>
              <select  class="form-control custom-select select-year">
                 <option value="2018" <%= (year == 2018)?"selected":"" %>>2018</option>
                 <option value="2019"  <%= (year == 2019)?"selected":"" %>>2019</option>
                 <option value="2020"  <%= (year  == 2020)?"selected":"" %>>2020</option>
                 <option value="2021"  <%= (year == 2021)?"selected":"" %>>2021</option>
              </select>
              </div>
            </div>
           <div class="col-md-4 text-center">
           
                <div id="chartHogar" style="height: 300px; margin: 0px ;max-width: 100%;"></div>
              </div>
            <div class="col-md-4 text-center">
                <div id="chartPyme" style="height: 300px; margin: 0px ;max-width: 100%;"></div>
              </div>
            <div class="col-md-4 text-center">
              <div id="chartAvanzado" style="height: 300px; margin: 0px ;max-width: 100%;"></div>
            </div>
           <div class="row mt-4">
            <div class="col-md-6 text-center">
              
            <div id="chartMeses" style="height: 300px; margin: 0px ;max-width: 100%;"></div>
            </div>
           </div>
<script>


var data
function actualizar(mes = <%= mes %>, id = 1){
  mes =  $(".select-mes").val()
  year = $(".select-year").val()
  id = $(".select-id").val()
$.get("/estadistica/1/"+id+"/"+mes+"/"+year, a =>{
    console.log(a)
    meses = a.ventas.map(m =>{
     return m.reduce((ac, v)=>{ return ac + v.reduce((acu, u)=>{ return acu +  u },0) },0)
    })
    console.log(meses)
   meta_hogar = a.metas[mes][1]
   console.log(meta_hogar)
   meta_lograda = a.ventas[ mes][1][3]
   meta_en_proceso = a.ventas[ mes][1][1] + a.ventas[ mes][1][0]
   meta_hogar = meta_hogar - meta_lograda - meta_en_proceso
  if(meta_hogar < 0 )meta_hogar = 0  



var options = {
  animationEnabled: true,
  title: {
    text: "Meta Hogar"
  },
  data: [{
    type: "doughnut",
    innerRadius: "20%",
    showInLegend: true,
    legendText: "{label}  {y}",
    indexLabel: "{label} #percent%",

    dataPoints: [
      { label: "Cerrado Ganado", y:meta_lograda, color:"green"},
      { label: "En proceso", y: meta_en_proceso , color:"yellow"},
      { label: "Falta para meta", y: meta_hogar, color:"rgba(10,10,10,0.1)"},
    
    ]
  }]
};
$("#chartHogar").CanvasJSChart(options);


meta_pyme = a.metas[mes][2]
   meta_lograda = a.ventas[mes][2][3]
   meta_en_proceso = a.ventas[mes][2][1] + a.ventas[mes][2][0]
   meta_pyme = meta_pyme - meta_lograda - meta_en_proceso
   if(meta_pyme < 0)meta_pyme = 0;



var options2 = {
  animationEnabled: true,
  title: {
    text: "Meta Pyme"
  },
  data: [{
    type: "doughnut",
    innerRadius: "20%",
    showInLegend: true,
    legendText: "{label}  {y}",
    indexLabel: "{label} #percent%",

    dataPoints: [
      { label: "Cerrado Ganado", y:meta_lograda, color:"green"},
      { label: "En proceso", y: meta_en_proceso , color:"yellow"},
      { label: "Falta para meta", y: meta_pyme, color:"rgba(10,10,10,0.1)"},
    
    ]
  }]
};
$("#chartPyme").CanvasJSChart(options2);
puntos = meses.map((mes,i) =>{ return {x:new Date(year,i), y:mes}})

console.log(puntos)


var chart = new CanvasJS.Chart("chartMeses", {
  animationEnabled: true,
  theme: "light2",
  title: {
    text: "Ventas Mensuales"
  },
  axisX: {
    valueFormatString: "MMM"
  },
  axisY: {
    prefix: "$",
    labelFormatter: addSymbols
  },
  toolTip: {
    shared: true
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSeries
  },
  data: [
  {
    type: "column",
    name: "Ventas",
    showInLegend: true,
    xValueFormatString: "MMMM YYYY",
    yValueFormatString: "$#,##0",
    dataPoints: puntos
  }, 
  {
    type: "line",
    name: "Metas",
    showInLegend: true,
    yValueFormatString: "$#,##0",
    dataPoints: puntos
  }]
});
chart.render();

function addSymbols(e) {
  var suffixes = ["", "K", "M", "B"];
  var order = Math.max(Math.floor(Math.log(e.value) / Math.log(1000)), 0);

  if(order > suffixes.length - 1)                 
    order = suffixes.length - 1;

  var suffix = suffixes[order];      
  return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
}

function toggleDataSeries(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.chart.render();
}







meta_avanzado = a.metas[mes][3]
   meta_lograda = a.ventas[mes][3][3]
   meta_en_proceso = a.ventas[mes][3][0] + a.ventas[mes][3][1]
   meta_avanzado = meta_avanzado - meta_lograda - meta_en_proceso
   if(meta_avanzado < 0 )meta_avanzado = 0


var options2 = {
  animationEnabled: true,
  title: {
    text: "Meta Avanzado"
  },
  data: [{
    type: "doughnut",
    innerRadius: "20%",
    showInLegend: true,
    legendText: "{label}  {y}",
    indexLabel: "{label} #percent%",

    dataPoints: [
      { label: "Cerrado Ganado", y:meta_lograda, color:"green"},
      { label: "En proceso", y: meta_en_proceso , color:"yellow"},
      { label: "Falta para meta", y: meta_avanzado, color:"rgba(10,10,10,0.1)"},
    
    ]
  }]
};
$("#chartAvanzado").CanvasJSChart(options2);
})

}
$("select").change(()=>{
    actualizar()
    $('.mes-number').text(parseInt( $('.select-mes').val()) + 1)
  })
actualizar()
</script>
 <%- include('partials/footer') %>