<%- include ('partials/header')  %>

 <div class="container">
  <h2>Seleccione una Campaña</h2>
  <div class="row">
 
 <% campañas.forEach(c => { %>  
   <div class="card col-md-3 m-3" style="width: 18rem;">
  <img class="card-img-top" src="<%= c.imagen %>" alt="<%= c.nombre %>">
  <div class="card-body">
    <h5 class="card-title text-center"><%= c.nombre %></h5>
    <p class="card-text"></p>
    <a href="/dash2/<%= c.id %>" class="btn btn-primary">Ver estadísticas</a>
  </div>
</div>
<% }) %>
</div>
 </div>   


 <%- include('partials/footer') %>