
 <%- include ('partials/header')  %>



 <span> <h1>  <%= dato[0].id%></h1> </span>
 <span> <h1>  <%= dato[0].titulo%></h1> </span>
 <span> <h1>  </h1> </span>
 <span> <h1>  <%= dato[0].id%></h1> </span>
 <span> <h1>  <%= dato[0].id%></h1> </span>
 

 <div class="row mt-5">
 
  

      <table class="table">
          <h1>INFORMACION DEL SUSCRIPTOR</h1>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">tipo de  documento</th>
            <th scope="col"># de documento</th>
            <th scope="col">Fecha de expedicion</th>
            <th scope="col">telefono celular</th>
            <th scope="col">telefono fijo</th>
            <th scope="col">estrato</th>
            <th scope="col">Correo</th>
            

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= dato[0].nombre_completo%></th>
            <td><%= dato[0].tipo_documento%></td>
            <td><%= dato[0].numero_documento%></td>
            <td><%= dato[0].fecha_expedicion%></td>
            <td><%= dato[0].telefono_celular%></td>
            <td><%= dato[0].telefono_fijo%></td>
            <td><%= dato[0].estrato%></td>            
            <td><%= dato[0].correo%></td>            
         
        </tbody>
      </table>
        <h1>INFORMACION DEL CONTACTO</h1>
      <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">tipo de  documento</th>
                <th scope="col"># de documento</th>
                <th scope="col">Fecha de expedicion</th>
                <th scope="col">telefono celular</th>
                <th scope="col">telefono fijo</th>
                <th scope="col">estrato</th>
                <th scope="col">Correo</th>
                
    
              </tr>
        </thead>
        <tbody>
            <tbody>
                <tr>
                  <th scope="row"><%= dato[0].nombre_completo%></th>
                  <td><%= dato[0].tipo_documento%></td>
                  <td><%= dato[0].numero_documento%></td>
                  <td><%= dato[0].fecha_expedicion%></td>
                  <td><%= dato[0].telefono_celular%></td>
                  <td><%= dato[0].telefono_fijo%></td>
                  <td><%= dato[0].estrato%></td>            
                  <td><%= dato[0].correo%></td>            
               
              </tbody>
        
        </tbody>
      </table>

      
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">tipo de  documento</th>
            <th scope="col"># de documento</th>
            <th scope="col">Fecha de expedicion</th>
            <th scope="col">telefono celular</th>
            <th scope="col">telefono fijo</th>
            <th scope="col">estrato</th>
            <th scope="col">Correo</th>
            

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= dato[0].nombre_completo%></th>
            <td><%= dato[0].tipo_documento%></td>
            <td><%= dato[0].numero_documento%></td>
            <td><%= dato[0].fecha_expedicion%></td>
            <td><%= dato[0].telefono_celular%></td>
            <td><%= dato[0].telefono_fijo%></td>
            <td><%= dato[0].estrato%></td>            
            <td><%= dato[0].correo%></td>            
         
        </tbody>
      </table>
      
      <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">tipo de  documento</th>
                <th scope="col"># de documento</th>
                <th scope="col">Fecha de expedicion</th>
                <th scope="col">telefono celular</th>
                <th scope="col">telefono fijo</th>
                <th scope="col">estrato</th>
                <th scope="col">Correo</th>
                
    
              </tr>
        </thead>
        <tbody>
            <tbody>
                <tr>
                  <th scope="row"><%= dato[0].nombre_completo%></th>
                  <td><%= dato[0].tipo_documento%></td>
                  <td><%= dato[0].numero_documento%></td>
                  <td><%= dato[0].fecha_expedicion%></td>
                  <td><%= dato[0].telefono_celular%></td>
                  <td><%= dato[0].telefono_fijo%></td>
                  <td><%= dato[0].estrato%></td>            
                  <td><%= dato[0].correo%></td>            
               
              </tbody>
        
        </tbody>
      </table>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>