

 <%if(user[0].rol==1||user[0].rol==2){%>
    <%- include ('partials/header')  %>
    <% }%>
    <%if(user[0].rol==3){%>
        <%- include ('partials/header1')  %>
        <% }%>
        <%if(user[0].rol==4||user[0].rol==5){%>
            <%- include ('partials/header2')  %>
            <% }%>


              
            
                
 <span> <%= data.id %> </span>
 <span> <%=console.log(data) %> </span>
 

 <div class="row mt-5">
 
  
 
     <div class="col-5">
        
         <div class="card">
             <div class="card-body">
                 <form action="/update/<%=data.id%>" method="POST">
 
                     <div class="form-group">
                         <input type="text" name="nombre" id="" value="<%= data.nombre %>" class="form-control">
                     </div>
                     <div class="form-group">
                         <input type="text" name="correo" id="" value="<%= data.correo %>"  class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="password" id="" value="<%= data.password %>"  class="form-control">
                    </div>
                    <div class="form-group card">
                        <label for=""><p> <b>Selecciona un tipo <br> ROL</b> </p></label>
                        <select class="form-select" name="rol" aria-label="Default select example">
                            <option selected value="<%= data.rol %>"><%= data.rol %></option>
                            <option value="1">Freelance</option>
                            <option value="2">inhouse</option>
                            <option value="3">Coordinador</option>
                            <option value="4">Admin</option>
                            <option value="5">Super Admin</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for=""><p> Agregar una meta <b>sin puntos ni comas</b> </p></label>
                        <input type="text" name="meta" id="" value="<%= data.meta %>"  class="form-control">
                    </div>
                         <button type="submit" class="btn btn-success">
                             Actualizar datos
                         </button>
             
                 </form>
             </div>
         </div>
 
     </div>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>