<%- include ('partials/header')  %>             
 <span> <%= data.id %> </span>
 <div class="row mt-5">
     <div class="col-5">
         <div class="card">
             <div class="card-body">
                 <form action="/update/<%=data.id%>" method="POST">
                     <div class="form-group">
                         <input type="text" name="nombre" id="" value="<%= data.nombre %>" class="form-control">
                     </div>
                     <div class="form-group">
                         <input type="text" name="correo" id="" value="<%= data.correo %>"  class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="password" id="" value="<%= data.password %>"  class="form-control">
                    </div>
                    <div class="form-group card">
                        <label for=""><p> <b>Selecciona un tipo <br> ROL</b> </p></label>
                        <select class="form-select" name="rol" aria-label="Default select example">
                            <option selected value="<%= data.rol %>"><%= data.rol %></option>
                            <option value="1">Super Admin</option>
                            <option value="2">Admin</option>
                            <option value="3">Sub Admin</option>
                            <option value="4">Gestor</option>
                            <option value="5">Freelance</option> 
                            <option value="6">In-House</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-success">
                       Actualizar datos
                    </button>
                 </form>
             </div>
         </div>
 
     </div>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>