
 <%if(user[0].rol!=1){%>
    <%- include ('partials/header')  %>
    <% }%>
    <%if(user[0].rol==1){%>
        <%- include ('partials/header2')  %>
        <% }%>
  

  




 
 
       
    
        <h1>Mis ofertas</h1>
  


 
 
    
 

 

            
 <table class="table table-bordered table-hover">
    <thead>
        <th>#</th>       
        <th>id VENTA</th>
        <th>id Freelance</th>  
        <th>Cliente</th>
        <th>tipo de documento</th>
        <th>cedula</th>
        <th>correo</th>
        <th>Tipo de Servicio</th>
        <th>Asesor</th>


             
             
        
            <%if(user[0].rol==1){%>
                <th>Delete</th>
                <th>Update</th>
                <th>Ver Detalles</th>
          
                <% }%>

    </thead>

    <tbody>
        <% if (data) { %>     
            <% for(var i=0; i<data.length;i++) { %> 
                 
                <tr>
                    <td> <%=(i+1) %> </td>
                    <td> <%= data[i].id%> </td>
                    <td> <%= data[i].usuario_ID %> </td>
                    <td> <%= data[i].nombre_completo %> </td>
                    <td> <%= data[i].tipo_documento %> </td>
                    <td> <%= data[i].numero_documento %> </td>
                    <td> <%= data[i].correo %> </td>
                    <td> <%= data[i].tipo_servicio %> </td>
                    <td> <%= data[i].asesor %> </td>
             
                  
                   
                    <%if(user[0].rol==1){%>
                      
                    <td> <a href="/delete/oferta/<%=data[i].id%>" class="btn btn-danger">Borrar</a> </td>
                    <td> <a href="/update/<%=data[i].id%>" class="btn btn-warning">Update</a> </td>
                    <td> <a href="/detalles/<%=data[i].id%>" class="btn btn-success">DETALLES</a> </td>

                     
                  
                        <% }%>
        
                 
                      
                </tr>
                
                                           <% } %> 
        <% } %>     
    </tbody>
</table>
 
 
 
 
 
 
 
 
 
 
<%- include('partials/modal') %>
 
 <%- include('partials/footer') %>