

 <%if(user[0].rol==1||user[0].rol==2){%>
  <%- include ('partials/header')  %>
  <% }%>
  <%if(user[0].rol==3){%>
      <%- include ('partials/header1')  %>
      <% }%>
      <%if(user[0].rol==4||user[0].rol==5){%>
          <%- include ('partials/header2')  %>
          <% }%>
        <h1>Mis ofertas</h1>
     
 <table class="table table-bordered table-hover">
    <thead>
        <th>#</th>       
   
        <th>Cliente</th>
        <th>tipo de documento</th>
        <th>cedula</th>
        <th>correo</th>
        <th>Tipo de Servicio</th>
        <th>estatus</th>
        <th>Ver Detalles</th>

            <%if(user[0].rol==3||user[0].rol==4||user[0].rol==5){%>
                <th>Delete</th>
                <th>Update</th>
            
          
                <% }%>

    </thead>

    <tbody>
        <% if (data) { %>     
            <% for(var i=0; i<data.length;i++) { %> 
                 
                <tr>
                    <td> <%=(i+1) %> </td>
                   
                    
                    <td> <%= data[i].nombre_completo %> </td>
                    <td> <%= data[i].tipo_documento %> </td>
                    <td> <%= data[i].numero_documento %> </td>
                    <td> <%= data[i].correo %> </td>
                    <td> <%= data[i].tipo_servicio %> </td>
                   
                   
                    <% if(data[i].estatus == 0) {  %>
                        
                        <td> <button class="btn btn-info"> AGENDADA</button>  </td>       
                           <%  }  %>
                        <% if(data[i].estatus == 1) {  %>
                           <td> <button class="btn btn-warning"> PENDIENTE</button>     </td>
                            <%  }  %>
                            <% if(data[i].estatus == 2) {  %>
                               <td> <button class="btn btn-primary"> INSTALADA</button>     </td>
                                <%  }  %>
                                <% if(data[i].estatus == 3) {  %>
                                  <td>  <button class="btn btn-success"> COMPLETADA</button>     </td>
                                    <%  }  %>
                                    <% if(data[i].estatus == 4) {  %>
                                       
                                     <td>   <button class="btn btn-danger"> DECLINADA</button> </td>
                                        <%  }  %>
                                        <% if(data[i].estatus == 5) {  %>
                                       
                                            <td>   <button class="btn btn-dark"> SIN GESTION</button> </td>
                                               <%  }  %>
                  
             
                  
                    <td> <a href="/detalles/<%=data[i].id%>" class="btn btn-success">DETALLES</a> </td>

                    <%if(user[0].rol==3||user[0].rol==4||user[0].rol==5){%>
                        <td> <a  href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=i%>" >borrar</a> </td>

                    <td> <a href="/ofertasupdate/<%=data[i].id%>" class="btn btn-warning">Actualizar</a> </td>
               
                    <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel<%i%>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel<%=i%>">Seguro que quiere Borrarlo?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              si borra no se podra recuperar
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                              <a href="/delete/oferta/<%=data[i].id%>" class="btn btn-danger">Borrar</a>  <h1><%=data[i].id%></h1>

                            </div>
                          </div>
                        </div>
                      </div>
                  
                     
                  
                        <% }%>
        
                 
                      
                </tr>
                
                                           <% } %> 
        <% } %>     
    </tbody>
</table>
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>