
  
    <%if(user[0].rol==0){%>
        <%- include ('partials/header')  %>
        <% }%>
        <%if(user[0].rol==1){%>
            <%- include ('partials/header1')  %>
            <% }%>
            <%if(user[0].rol==2){%>
                <%- include ('partials/header2')  %>
                <% }%>

        <script src="https://smtpjs.com/v3/smtp.js">

        </script> 

  




 
 
       
    
        <h1>Crear una oferta</h1>
     


            <h1>INFORMACION DEL SUSCRIPTOR</h1>
            <form action="/crearOferta" method="post">

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Nombre Completo suscriptor <br><br> </b> </p></label>
                                <input required  type="text" name="nombre_completo" id="" placeholder="Nombre Completo Suscriptor" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Selecciona un tipo <br> de documento</b> </p></label>
                                <select class="form-select" name="tipo_documento" aria-label="Default select example">
                                    <option selected>Selecciona un tipo de documento</option>
                                    <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                                    <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                                    <option value="NIT">NIT</option>
                                    <option value="OTRA">OTRA</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Ingresa el Numero <br> de documento</b> </p></label>
    
                                <input required type="text" name="numero_documento" id="" placeholder="Numero de documento" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Ingresa la fecha de<br> expedicion del documento</b> </p></label>
    
                                <input required type="text" name="fecha_expedicion" id="fechas" placeholder="Fecha de Expedicion" class="form-control">
                            </div>
                        </div>

                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Numero de telefono Celular <br><br> </b> </p></label>
                                <input required type="text" name="telefono_celular" id="" placeholder="ingrese celular" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Numero de telefono fijo <br><br> </b> </p></label>
                                <input required type="text" name="telefono_fijo" id="" placeholder="ingrese telefono fijo" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Selecciona un tipo <br> de estrato</b> </p></label>
                                <select class="form-select" name="estrato" aria-label="Default select example">
                                    <option selected>Selecciona un estrato</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="2">5</option>
                                    <option value="3">6</option>
                                    <option value="No Residencial">No Residencial</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                             </div>
                        </div>

                    </div>
                    <br><br>

                    <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Ingrese Correo <br><br> </b> </p></label>
                                <input required type="text" name="correo" id="" placeholder="ingrese correo " class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Ciudad <br><br> </b> </p></label>
                                <input required type="text" name="ciudad" id="" placeholder="ingrese la ciudad" class="form-control">
                            </div>
                        </div>
                      
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Municipio <br><br> </b> </p></label>
                                <input required type="text" name="municipio" id="" placeholder="ingrese el municipio" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Direccion Cliente <br><br> </b> </p></label>
                                <input required type="text" name="direccion" id="" placeholder="ingrese la Direccion" class="form-control">
                            </div>
                        </div>

                    </div>
                    <br><br>


                        
                     <h1>INFORMACION DEL CONTACTO</h1>
                     <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Nombre Contacto <br><br> </b> </p></label>
                                <input required type="text" name="nombre_contacto" id="" placeholder="Nombre Contacto" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Cedula Contacto <br><br> </b> </p></label>
                                <input required type="text" name="cedula_contacto" id="" placeholder="Cedula Contacto" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Telefono fijo Contacto <br><br> </b> </p></label>
                                <input required type="text" name="telefono_fijo_contacto" id="" placeholder="Telefono fijo" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Telefono movil Contacto <br><br> </b> </p></label>
                                <input required type="text" name="telefono_movil_contacto" id="" placeholder="Telefono movil" class="form-control">
                            </div>
                        </div>
                     

                    </div>
                    <br><br>

                    <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Autoriza <br> compartir datos? </b> </p></label>
                                <select class="form-select" name="autoriza" aria-label="Default select example">
                                    <option selected value="SI">SI</option>
                                    <option value="NO">NO</option>
                                  
                                  </select>                            </div>
                        </div>

                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Correo Contacto <br><br> </b> </p></label>
                                <input required type="text" name="correo_contacto" id="" placeholder="Correo Contacto" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Direccion Contacto <br><br> </b> </p></label>
                                <input required type="text" name="direccion_contacto" id="" placeholder="Direccion Contacto" class="form-control">
                            </div>
                        </div>
                       
                         
                        </div>
                        <div class="col-12 col-sm-1 text-center">
                            <br>
                         
                        </div>

                    </div>
                    <br><br>


                    <h1>CONDICIONES COMERCIALES</h1>

                    <div class="row">
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Nombre de Asesor <br><br> </b> </p></label>
                                <input required type="text" name="asesor" id="" placeholder="nombre de asesor" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Tipo de <br> Servicio</b> </p></label>
                                <select class="form-select" name="tipo_servicio" aria-label="Default select example">
                                    <option selected>tipo de servicio</option>
                                    <option value="Oferta Comercial">Oferta Comercial</option>
                                    <option value="Oferta Residencial">Oferta Residencial</option>                                  
                                  </select>
                            </div>
                        </div>
                      
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Tipo de <br> Tecnologia</b> </p></label>
                                <select class="form-select" name="tecnologia" aria-label="Default select example">
                                    <option selected>tipo de Tecnologia</option>
                                    <option value="Cobre">Cobre</option>
                                    <option value="Fibra">Fibra</option>                                  
                                    <option value="FTTC">FTTC</option>
                                  </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Tipo de Instalacion <br><br> </b> </p></label>
                                <select class="form-select"  name="tipo_instalacion" aria-label="Default select example">
                                    <option selected>tipo de Instalacion</option>
                                    <option value="1 play">1 play</option>
                                    <option value="2 play">2 play</option>                                  
                                    <option value="3 play">3 play</option>
                                  </select>
                            </div>
                        </div>

                    </div>
                    <br><br>

                    <div class="row"
                    
                    
                    >  <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Caracteristicas <br> del Plan</b> </p></label>
                                <select class="form-select" name="plan_caracteristicas" aria-label="Default select example">
                                    <option selected>tipo de servicio</option>
                                    <option value="Linea Nueva (Dúo Nuevo)">Linea Nueva (Dúo Nuevo)</option>
                                    <option value="Linea Existente + BA">Linea Existente + BA</option>
                                    <option value="Línea Nueva (Trío Nuevo)">Línea Nueva (Trío Nuevo)</option>
                                    <option value="Línea Existente">Línea Existente</option>
                                    <option value="Linea + Internet Existente (Migración Dúo)">Linea + Internet Existente (Migración Dúo)</option>
                                    <option value="Trío Nuevo">Trío Nuevo</option>
                                    <option value="Línea Migrada + BA + TV">Línea Migrada + BA + TV</option>
                                    <option value="Línea + BA Migrada + TV">Línea + BA Migrada + TV</option>
                                    <option value="+ TV">+ TV</option>
                
                                  </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Linea Telefonica <br><br> </b> </p></label>
                                <input required type="text" name="linea_telefonica" id="" placeholder="Line Telefonica" class="form-control">
                            </div>
                        </div>
                      
                      
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Velocidad <br><br> </b> </p></label>
                                <input required type="text" name="Velocidad" id="" placeholder="Velocidad" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Tarifa <br><br> </b> </p></label>
                                <input required type="text" name="tarifa" id="" placeholder="Valor" class="form-control">
                            </div>
                        </div>

                    </div>
                    <br><br>



                    <div class="row"
                    
                    
                    >  <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Fecha de  <br> Agendamiento</b> </p></label>
                                <input required type="text" id="fecha2" name="fecha_agenda"  placeholder="fecha agendamiento" class="form-control">

                            </div>
                        </div>
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Direccion Final <br><br> </b> </p></label>
                                <input required type="text" name="direccion_final" id="" placeholder="Direccion Final" class="form-control">
                            </div>
                        </div>
                      
                      
                        <div class="col-12 col-sm-3 text-center">
                            <br>
                            <div class="form-group card">
                                <label for=""><p> <b>Estrato Final <br><br> </b> </p></label>
                                <select class="form-select" name="estrato_final" aria-label="Default select example">
                                   
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="2">5</option>
                                    <option value="3">6</option>
                                    <option value="No Residencial">No Residencial</option>
                                  </select>  
                            </div>

                      

                    </div>
                    <div class="col-12 col-sm-3 text-center">
                        <br>
                        <div class="form-group card">
                            <label for=""><p> <b>Seleccion un sector <br><br> </b> </p></label>
                            <select class="form-select" name="sector" aria-label="Default select example">
                               
                                <option selected value="">Seleccione un Sector</option>
                                <option value="Antonio Nariño">Antonio Nariño</option>
                                <option value="Barrios Unidos">Barrios Unidos</option>
                                <option value="Bosa">Bosa</option>
                                <option value="Chapinero">Chapinero</option>
                                <option value="Ciudad Bolívar">Ciudad Bolívar</option>
                                <option value="Engativá">Engativá</option>
                                <option value="Fontibón">Fontibón</option>
                                <option value="Kennedy">Kennedy</option>
                                <option value="Los Mártires">Los Mártires</option>
                                <option value="Puente Aranda">Puente Aranda</option>
                                <option value="Rafael Uribe Uribe">Rafael Uribe Uribe</option>
                                <option value="San Cristóbal">San Cristóbal</option>
                                <option value="Santa Fe">Santa Fe</option>
                                <option value="Sumapaz">Sumapaz</option>
                                <option value="Teusaquillo">Teusaquillo</option>
                                <option value="Tunjuelito">Tunjuelito</option>
                                <option value="Usaquén">Usaquén</option>
                                <option value="Usme">Usme</option>
                                

                                
                              </select>  
                        </div>
                    </div>
                    <br><br>


                


                </div>

               

                <input  type="hidden" name="usuario_ID" id=""  value="<%= user[0].id %> " class="form-control">

                <input  type="hidden" name="estatus" id=""  value="5" class="form-control">

              
                
    
                    <div class="row text-center">
                          <button type="submit" onclick="correo1()" class="btn btn-success btn-lg">
                        guardar datos
                    </button>
                    </div>
                  
        
            </form>


            <script >
          
            
          function correo1(){
console.log("entrando al correo")

Email.send({
    Host : "teledisca.com",
    Username : "fabian.espejo@teledisca.com",
    Password : "fabianjose",
          To : ['fabian.espejo@teledisca.com','fabian2@teledisca.com'],         
          From : "fabian.espejo@teledisca.com",
          Subject : "Nuevo Cliente CREADO",
          Body : "El Nuevo Cliente Fue Creado por   <%=user[0].nombre%> " 
}).then(
 alert("enviado")
);
               
      
      

          
             
              
              } 
            </script>
       
   


 
 
    
 

 

  
 
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>