
 
 <%if(user[0].rol!=1){%>
    <%- include ('partials/header')  %>
    <% }%>
    <%if(user[0].rol==1){%>
        <%- include ('partials/header2')  %>
        <% }%>
 



      <h1> <%=data.usuario_ID %> </h1>      


<%= console.log(user[0].rol); %>
 <%if(user[0].rol==1){%>

<div class="row mt-5">


    <div class="col-7">

        <table class="table table-bordered table-hover">
            <thead>
                <th>#</th>
                <th>id</th>
                <th>titulo</th>
                <th>creado por</th>
                
                                   
                <th>Delete</th>
                <th>Update</th>

            </thead>

            <tbody>
                <% if (data) { %>     
                    <% for(var i=0; i<data.length;i++) { %> 
                         
                        <tr>
                            <td> <%=(i+1) %> </td>
                            <td> <%= data[i].id %> </td>
                            <td> <%= data[i].titulo %> </td>
                            <td> <%= data[i].nombre %> </td>

                           
                           
                                
                                
                         
                            
                            <td> <a href="/delete/oferta/<%=data[i].id%>" class="btn btn-danger">Borrar</a> </td>
                            <td> <a href="/update/<%=data[i].id%>" class="btn btn-warning">Update</a> </td>
                                
                        </tr>
                        
                                                   <% } %> 
                <% } %>     
            </tbody>
        </table>

    </div>




</div>
<%}%>
<%if(user[0].rol!=1){%>
<div class="">
    <a  class="btn btn-lg btn-primary" href="/"><h1>Crear una oferta</h1></a>
</div>
<%}%>










<%- include('partials/footer') %>