
 

  
    <%if(user[0].rol==0){%>
        <%- include ('partials/header')  %>
        <% }%>
        <%if(user[0].rol==1){%>
            <%- include ('partials/header1')  %>
            <% }%>
            <%if(user[0].rol==2){%>
                <%- include ('partials/header2')  %>
                <% }%>



                <%if(user[0].rol==2||user[0].rol==1){%>

              
              <div>
                <h5>descargar todos los reportes en CSV</h5>
                <a class="btn btn-success" href="/descargar"><p style="font-size: 15px;">descargar reporte general</p></a>
              </div>
    <%}%>


<%= console.log(user[0].rol); %>
 <%if(user[0].rol==2||user[0].rol==1){%>

<div class="row mt-5">


    <div class="col">

        <table class="table table-bordered table-hover">
            <thead class="text-center">
                 
                <th>id preventa</th>
                <th>Cliente</th>
                <th>Asesor</th>
                <th>Tipo de Servicio</th>
              
                <th>estatus</th>
        
        
                     
                     
                
                    <%if(user[0].rol==2){%>
                        <th>Borar</th>
                        <th>Actualizar</th>
                        <th>Detalles</th>
                        <th>Descargar</th>
                  
                        <% }%>

            </thead>

            <tbody class="text-center">
                <% if (data) { %>     
                    <% for(var i=0; i<data.length;i++) { %> 
                         
                        <tr>
                            <td> <%= data[i].id  %> </td>
                            <td> <%= data[i].nombre_completo %> </td>
                            <td> <%= data[i].asesor %> </td>                           
                            <td> <%= data[i].tipo_servicio %> </td>
                                      
                              <% if(data[i].estatus == 0) {  %>
                        
                        <td> <button class="btn btn-info"> AGENDADA</button>  </td>       
                           <%  }  %>
                        <% if(data[i].estatus == 1) {  %>
                           <td> <button class="btn btn-warning"> PENDIENTE</button>     </td>
                            <%  }  %>
                            <% if(data[i].estatus == 2) {  %>
                               <td> <button class="btn btn-primary"> INSTALADA</button>     </td>
                                <%  }  %>
                                <% if(data[i].estatus == 3) {  %>
                                  <td>  <button class="btn btn-success"> COMPLETADA</button>     </td>
                                    <%  }  %>
                                    <% if(data[i].estatus == 4) {  %>
                                       
                                     <td>   <button class="btn btn-danger"> DECLINADA</button> </td>
                                        <%  }  %>

                                        <% if(data[i].estatus == 5) {  %>
                                       
                                            <td>   <button class="btn btn-dark"> SIN GESTION</button> </td>
                                               <%  }  %>
                                        
                     
                          
                           
                            <%if(user[0].rol==2||user[0].rol==1){%>
                               
                            <td> <a  href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=i%>" >borrar</a> </td>
                            <td> <a href="/ofertasupdate/<%=data[i].id%>" class="btn btn-warning">Actualizar</a> </td>
                            <td> <a href="/detalles/<%=data[i].id%>" class="btn btn-success">Detalles</a> </td>
                            <td> <a href="/descargar/<%=data[i].id%>" class="btn btn-info">Descargar</a> </td>
        
                             
                            <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel<%i%>" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel<%=i%>">Seguro que quiere Borrarlo?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      si borra no se podra recuperar
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                                      <a href="/delete/oferta/<%=data[i].id%>" class="btn btn-danger">Borrar</a>  <h1><%=data[i].id%></h1>

                                    </div>
                                  </div>
                                </div>
                              </div>
                          
                                <% }%>
                
                         
                              
                        </tr>
                                
                                
                         
                       
                        
                                                   <% } %> 
                <% } %>     
            </tbody>
        </table>

    </div>




</div>
<%}%>





<style>
  
</style>



<%- include('partials/footer') %>