
 
 <%if(user[0].rol==0){%>
    <%- include ('partials/header')  %>
    <% }%>
    <%if(user[0].rol==1){%>
        <%- include ('partials/header1')  %>
        <% }%>
        <%if(user[0].rol==2){%>
            <%- include ('partials/header2')  %>
            <% }%>
 

 <%if(user[0].rol==2){%>

<div class="row mt-5">


    <div class="col-7">

        <table class="table table-bordered table-hover">
            <thead>
                <th>#</th>
              
                <th>Nombre</th>
                <th>Correo</th>
                
                <th>ROL</th>
                                   
                <th>Delete</th>
                <th>Update</th>

            </thead>

            <tbody>
                <% if (data) { %>     
                    <% for(var i=0; i<data.length;i++) { %> 
                         
                        <tr>
                            <td> <%=(i+1) %> </td>
                           
                            <td> <%= data[i].nombre %> </td>
                            <td> <%= data[i].correo %> </td>
                          
                            
                                 <% if(data[i].rol==0){ %> 
                                    <td> Freelance </td>
                                     <% } %> 
                                     <% if(data[i].rol==1){ %> 
                                        <td> Coordinador </td>
                                         <% } %> 
                                         <% if(data[i].rol==2){ %> 
                                            <td> Administrador </td>
                                             <% } %> 
                                
                                
                             <td> <a  href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=i%>" >borrar</a> </td>
                            <td> <a href="/update/<%=data[i].id%>" class="btn btn-warning">Actualizar</a> </td>
                            

                            <div class="modal fade" id="exampleModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel<%i%>" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel<%=i%>">Seguro que quiere Borrarlo?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      si borra no se podra recuperar
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                                       <a href="/delete/<%=data[i].id%>" class="btn btn-danger">Borrar</a>  <h1><%=data[i].id%></h1>

                                    </div>
                                  </div>
                                </div>
                              </div>
                    
                        </tr>
                        
                                                   <% } %> 
                <% } %>     
            </tbody>
        </table>

    </div>




    <div class="col-5">
       
        <div class="card text-center">
            <h1>crear nuevo  usuario</h1>
            <div class="card-body">
                <form action="/add" method="post">

                    <div class="form-group">
                        <input type="text" required name="nombre" id="" placeholder="USUARIO" class="form-control">
                    </div>   <br>
                    <div class="form-group">
                        <input type="text" required name="correo" id="" placeholder="correo electronico" class="form-control">
                    </div>  <br>
                    <div class="form-group">
                        <input type="password" required name="password" id="" placeholder="contraseña" class="form-control">
                    </div> <br>
                    <div class="form-group card">
                        <label for=""><p> <b>Dale un Rol </b> </b> </p></label>
                            <select class="form-select" name="rol" aria-label="Default select example">
                            <option value="0">Freelance</option> 
                            <option value="1">Coordinador</option>
                            <option value="2">Administrador</option>
                       
        
                          </select>
                    </div>
                  
                    
        
                        
                        <button type="submit" class="btn btn-success">
                            guardar datos
                        </button>
            
                </form>
            </div>
        </div>

    </div>
</div>
<%}%>


<!-- Button trigger modal -->

  
  <!-- Modal -->
 

  <script>
    
      function b (){
          alert("me has borrado tio")
      }
  </script>

<%- include('partials/footer') %>


