
 
 <%if(user[0].rol!=1){%>
    <%- include ('partials/header')  %>
    <% }%>
    <%if(user[0].rol==1){%>
        <%- include ('partials/header2')  %>
        <% }%>
 

<%= console.log(user[0].rol); %>
 <%if(user[0].rol==1){%>

<div class="row mt-5">


    <div class="col-7">

        <table class="table table-bordered table-hover">
            <thead>
                <th>#</th>
              
                <th>Nombre</th>
                
                <th>ROL</th>
                                   
                <th>Delete</th>
                <th>Update</th>

            </thead>

            <tbody>
                <% if (data) { %>     
                    <% for(var i=0; i<data.length;i++) { %> 
                         
                        <tr>
                            <td> <%=(i+1) %> </td>
                           
                            <td> <%= data[i].nombre %> </td>
                          
                            <% if(data[i].rol!=1){ %> 
                                <td> Comercial </td>
                                 <% } %> 
                                 <% if(data[i].rol==1){ %> 
                                    <td> Administrador </td>
                                     <% } %> 
                                
                                
                         
                            
                            <td> <a href="/delete/<%=data[i].id%>" class="btn btn-danger">Borrar</a> </td>
                            <td> <a href="/update/<%=data[i].id%>" class="btn btn-warning">Update</a> </td>
                                
                        </tr>
                        
                                                   <% } %> 
                <% } %>     
            </tbody>
        </table>

    </div>




    <div class="col-5">
       
        <div class="card text-center">
            <h1>crear nuevo  usuario</h1>
            <div class="card-body">
                <form action="/add" method="post">

                    <div class="form-group">
                        <input type="text" name="nombre" id="" placeholder="nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="" placeholder="contraseña" class="form-control">
                    </div>
                  
                    
        
                        
                        <button type="submit" class="btn btn-success">
                            guardar datos
                        </button>
            
                </form>
            </div>
        </div>

    </div>
</div>
<%}%>
<%if(user[0].rol!=1){%>
<div class="">
    <a  class="btn btn-lg btn-primary" href="/"><h1>Crear una oferta</h1></a>
</div>
<%}%>










<%- include('partials/footer') %>


